@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~sweetalert2/src/variables';
@import '~sweetalert2/src/sweetalert2';

// 滚动条
body::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 1em;
    background-color: rgba(50,50,50,.3);
}
body::-webkit-scrollbar-track{
    border-radius: 1em;
    background-color: rgba(50,50,50,.1);
}

body{
    font-family: AlibabaPuHuiTi, sans-serif;
    @apply bg-gray-100;
    @apply dark:bg-gray-700;
}

a{
    @apply text-blue-500;
}

hr{
    @apply border-gray-300;
    @apply dark:border-gray-600;
}
.page-wrapper{
    @apply min-h-screen;
}
code{
    @apply bg-gray-200 rounded p-1;
    @apply dark:bg-gray-500;
    font-size: 80%;
}
